[run]
# Measure coverage for all application and ML code (app + ml)
source = app, ml
branch = True
omit =
    */.venv/*
    */tests/*
    */__init__.py

[report]
show_missing = True
skip_covered = False
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
