
.idea/
__pycache__
venv
src/team_selection/cache
.junie_plans/

go-app/api
go-app/coverage.out
go-app/bin
go-app/export-dataset

ml-service/.venv
ml-service/.coverage
ml-service/coverage.xml

data
output

.output.txt
.coverage
coverage.xml